        <!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header text-center">
                <h3>Welcome</h3>
    </div>
    <ul class="components text-center">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard" >Student Record</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/subject" >Subject</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
        </li>
    </ul>
</nav>